#ReactGridGallery{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.page-title{
    text-align: center;
    letter-spacing: 8px;
    margin: 40px;
    padding: 30px;
    border-bottom: 5px double #dee2e6;
  }
