.logo-black{
  height: 90px;
  width: 90px;
}

.font-raleway{
  font-family: raleway,sans-serif;
  letter-spacing: 1px;
  text-align: center;
}
.border-box{
  border-width: thin;
  border-style: solid;
  text-align: center;
  padding: 10px;
  letter-spacing: 6px;
  display:visible;
}

.header-fixed{
  position:fixed;
  width: -webkit-fill-available;
  height: 100px;
  top:0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.72);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menuContainer{
  display: flex;
  justify-content: space-around;
}

li{
  list-style-type: none
}

.menuItem{
  padding: 30px 10px;
  transition: all .5s ease;
}

/* @media all and (max-width: 400px) {
  .vertical-stack {
    flex-basis: 100%;
  } */

  @media only screen and (max-width: 700px) {
    .border-box{
      display:none;
    }
  /* .header-fixed {
    position: fixed;
    width: -webkit-fill-available;
    height: 200px;
    top: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.72);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .menuContainer{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  } */

}
