.logo-black{
  height: 90px;
  width: 90px;
}

.font-raleway{
  font-family: raleway,sans-serif;
  letter-spacing: 1px;
  text-align: center;
}
.border-box{
  border-width: thin;
  border-style: solid;
  text-align: center;
  padding: 10px;
  letter-spacing: 6px;
  display:visible;
  white-space: nowrap;

}

.header-fixed{
  padding-inline-start: 0px;
  position:fixed;
  width: -webkit-fill-available;
  height: 100px;
  top:0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.72);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menuContainer{
  display: flex;
  justify-content: space-around;
}

li{
  list-style-type: none
}

.menuItem{
  padding: 30px 10px;
  transition: all .5s ease;
  white-space: nowrap;
}


  .bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  padding:1rem;
}

.bm-menu a {
  color: #b8b7ad;
}
.bm-menu a:hover{
  color: #c94e50;
  text-decoration: none;
  outline-width: 0px;
}

.bm-menu a:focus{
  outline-width: 0px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
